.vermelho {
    color: red;
    font-size: 3rem;
    font-style: italic;
}

.azul {
    color: blue;
    font-size: 3rem;
    font-style: italic;
}

.verde {
    color: green;
    font-size: 3rem;
    font-style: italic;
}